@font-face {
    font-family: DINPRO;
    src: url(/fonts/DINPro.otf);
}

@font-face {
    font-family: LORA;
    src: url(/fonts/Lora-Regular.ttf);
}

body{
	font-family: 'Maven Pro', sans-serif;
}

h2{
  font-size: 60px;
}

p, h2 {
	color: #FFF;
}

.fp-tableCell{
  opacity: 0;
}

p{
	font-size: 24px;
}

.header-wrapper{
  position: relative;
  z-index: 10;
}

.overlay{
	position: fixed;
	overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999999;
    background: rgba(255,255,255,1);
    opacity: 1;
    border-bottom: 5px solid #612565;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 999;
  text-align: center;
}

.white {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #612167;
  border: 3px solid #612167;
  overflow: hidden;
}

.grey {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: #612167;
  top: -5px;
  left: 0px;
  animation: moveShadow 2s infinite 1.5s;
}

@keyframes moveShadow {
  0% {
    transform: translateX(150px);
    background-color: white;
  }
  50% {
    transform: translateX(-10px);
    background-color: white;
  }
  100% {
    transform: translateX(-170px);
    background-color: white;
  }
}

.loader .text{
    color: #612167;
    padding-left: 16px;
    max-width: 100px;
    font-size: 30px;
    width: 170px;
    max-width: 100%;
    text-align: center;
    padding: 0px;
}

#show_mobile{ display: none; }


@media screen and (max-width:768px){
	p{ font-size: 4vw; }
	.header-wrapper{ margin-top: 0px !important; }
	.header-wrapper .logo-header{ display: none; }
	#show_mobile{ display: block; width: 50%; margin: 0 auto; }
	.headers{ padding-top: 0px; }
}
.section{
	background-position: center center;
	background-size: cover;
}

.parallax{
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position-y: 0px;
}

.section{
    text-align:center;
    overflow: hidden;
}
#video1{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black; /* in case the video doesn't fit the whole page*/
    background-image: /* our video */;
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

#section-1 .layer{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#section-1{
    overflow: hidden;
    position: relative;
}
video::-webkit-media-controls {
  display:none !important;
}

.logo-header{
  position: absolute;
  z-index: 100;
  top: 0;
  left:0;
}

.logo-header img{
  width: 300px;
}

.quote-bottom-right{
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  font-size: 50px;
  color: #612565;
  text-shadow: 0px 0px 9px #612565;
  z-index: 22;
  user-select: none;
  pointer-events: none;
  text-transform: uppercase;
}

.top-box{
  position: absolute;
  top: 5vh;
  right: 80px;
}

.top-box.white-circle{
    background: rgba(255,255,255,0.93);
    max-width: 600px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 40px -15px;
    padding: 25vh 0px;
    top:0 !important;
    right: 0 !important;
}

.top-box.white-circle .list-wrapper{
  position: absolute;
  float: none;
}

#section-3 .list-wrapper{
  text-align: center;
}

.list-wrapper{
  float: right;
  width: 100%;
  text-align: left;
  font-size: 40px;
  color: black;
}

.list-wrapper ul li{
  list-style: none;
  color: #323a68;
}

.list-wrapper ul{
  padding: 0px;
}

#section-2 .list-wrapper ul{
  padding-left: 20px;
}

.list-wrapper h2{
  color: #2b7fb9 !important;
  font-size: 60px;
}

#fruit1, #fruit2, #fruit3, #fruit4, #fruit5, #fruit6, #fruit7, #fruit8{
  position: absolute;
  z-index: 40;
  will-change: translateY;
}

#fruit2, #fruit3, #fruit5, #fruit6{
  z-index: 20;
}

#fruit1{
  width: 200px;
  top: 65vh;
  left: 26vw;
}
#fruit2{
  width: 300px;
  top: 70vh;
  left: 10vh;
}
#fruit3{
  width: 300px;
  top: 50vh;
  left: 45vw;
}
#fruit4{
  width: 300px;
  top: 0;
  left: -5vw;
}
#fruit5{
  width: 200px;
  top: 50vh;
  left: 5vw;
}
#fruit6{
  width: 200px;
  top: 5vh;
  left: 30vw;
}
#fruit7{
  width: 200px;
  top: 31vh;
  left: 17vw;
}
#fruit8{
  width: 200px;
  top: 27vh;
  left: 43vw;
}

#water{
  position: absolute;
  top: -300px;
  left: calc(50% - 1400px);
  width: 1600px;
  z-index: 30;
}

@media screen and (max-width: 992px){
  #fruit1, #fruit2, #fruit3, #fruit4, #fruit5, #fruit6, #fruit7, #fruit8, #water{
    display: none;
  }
  .responsive-box{
    background: rgba(255,255,255,0.93);
    max-width: 992px;
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 40px -15px;
    padding: 25vh 0px;
    top: 0 !important;
    right: 0 !important;
  }
  .responsive-box .list-wrapper{
    text-align: center;
  }
  .top-box.white-circle{
    max-width: 992px !important;
    transition: 0.2s ease;
  }
}

.top-box.white-circle{
  transition: 0.2s ease;
}

@media screen and (max-width: 1920px){
  #water{
    top: -450px;
  }
}

#section-2{
  overflow: visible !important;
  position: relative;
  z-index: 100;
}

#section-1 .fp-tableCell, #section-2 .fp-tableCell, #section-3 .fp-tableCell, #section-4 .fp-tableCell{
  opacity: 1;
  overflow: visible !important;
}

#fruit5, #fruit3{
  transform: translateY(-1000px);
}

#fruit7{
  transform: translateY(-450px);
}

  .fp-bg{
      background-size: cover;
      background-position: center 80%;
  }

.wit, .wit h2{
  color:white !important;
}

.content-hide{
  opacity: 0;
  transition: 0.1s ease;
}

#annanas{
  width: 100%;
  position: absolute;
  bottom: -300px;
  left: calc(25% - 800px);
  max-width: 1200px;
}

#annanas_slice{
  width: 100%;
  position: absolute;
  top: -200px;
  left: calc(25% - 750px);
  max-width: 800px;
}

.content-right{
  position: absolute;
  top: calc(50% - 200px);
  right: 0;
  width: 100%;
  max-width: 900px;
}

.margin-bottom{
  margin-bottom: 30px;
}

.link-list{

}

.link-list ul{
  padding: 0px;
}

.link-list ul li{
  list-style: none;
}

.link-list div{
  list-style: none;
  font-size: 40px;
  position: relative;
  display: unset;
}

.link-list a{
  color: white;
  text-decoration: none !important;
  transition: 0.5s ease;
}

.link-list a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.link-list a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#logo_section_4{
  position: absolute;
  z-index: 99;
  right: 20px;
  top: 20px;
  width: calc(100% - 40px);
  max-width: 1100px;
}

#section-4 h2{
  font-size: 90px;
}

.members-only.active{
  right: 410px;
  transition: 0.5s ease;
}

.members-only{
  position: absolute;
  top: 10px;
  right: 15vw;
  width: 100px;
  height: 100px;
  padding-top: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #612565;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(97, 37, 101, 0.15);
  -webkit-animation: pulse 1.5s infinite;
}

.dropdown{
  position: absolute;
  top: 35px;
  right: 8vw;
  padding: 5px;
  padding-top: 12px;
  border: 2px solid #602564;
  width: 90px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #602564;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  width: 90px;
  height: 50px;
  cursor: pointer;
}

.dropdown a{
  color: #602564;
  text-decoration: none !important;
}

.login-hide.active{
  right: 0;
  transition: 0.5s ease;
}

.d-none{
  display: none !important;
}

.login-hide{
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: white;
  padding-top: calc(50vh - 170px);
  z-index: 100;
  transition: 0.5s ease;
}

.login-wrapper {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 400px;
}

.login-wrapper .right {
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .login-wrapper .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
.login-wrapper svg {
  position: absolute;
  width: 320px;
  left: calc(50% - 160px);
}
.login-wrapper path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.login-wrapper .form {
  margin: 40px 80px;
  position: absolute;
}
.login-wrapper label {
  color: #727377;
  display: block;
  font-size: 16px;
  height: 16px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
}
.login-wrapper input {
  background: transparent;
  border: 0;
  color: #cacaca;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
  transition: 0.5s ease;
}

.login-wrapper input::placeholder{
  color: #e4e4e4 !important;
}

.login-wrapper input::-moz-focus-inner { 
  border: 0; 
}
.login-wrapper #submit {
  color: #707075;
  margin-top: 39px;
  transition: color 300ms;
}
.login-wrapper #submit:focus {
  color: #5e2f61;
}
.login-wrapper #submit:active {
  color: #d0d0d2;
}

.login-wrapper ::selection {
  background: #2D2F36;
}
.login-wrapper ::-webkit-selection {
  background: #2D2F36;
}
.login-wrapper ::-moz-selection {
  background: #2D2F36;
}

.login-wrapper input:focus{
  color: #737373;
  transition: 0.5s ease;
}

.overlay-login{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
    display: none;
    background:rgba(0,0,0,0.7);
    opacity: 0;
    transition: 0.5s ease;
}

.overlay-login.active{
    display: block;
    opacity: 1;
    animation: opacityflow 0.5s ease;
    transition: 0.5s ease;
}

@keyframes opacityflow{
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}


.tile.order{
  width: calc(50% - 13.1px);
}

.tile.order:after {
  padding-bottom: 49%;
}

.tile.order:hover {
  transform: scale(1.03);
  transition: 0.5s ease;
  z-index: 31;
}

.tile {
  position: relative;
  width: calc(25% - 13.1px);
  margin: 5px;
  display: inline-block;
  background-color: #666;
  text-align: center;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  transition: all 0.5s ease;
  cursor: pointer;
  opacity: 0;
  z-index: 30;
  will-change: transform; 
}

.tile:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
  z-index: 31;
}

.tile:hover .text{
  font-size: 25px;
  text-shadow: 0px 0px 5px;
  transition: all 0.5s ease;
}

.tile:active .text, .tile:focus .text{
  letter-spacing: 1px;
  transition: all 0.1s ease;
}

.tile:after {
  content: "";
  display: block;
  padding-bottom: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

.tile:hover:after {
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease;
}

.tile .text {
  position: absolute;
  width: 100%;
  top: calc(50% - 35px);
  padding: 0px 10px;
  font-size: 23px;
  color: white;
  text-shadow: 0px 0px 1px;
  transition: all 0.5s ease;
  user-select: none;
  line-height: 25px;
  will-change: transform; 
}


body.dashboard{
  background-image: url('/static/images/Yanga_Blank_Pages/Blank%20Page%201.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh;
}

.dash-header{
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  z-index: 35;
  will-change: transform; 
}

#water-logo{
  position: absolute;
  top: -280px;
  width: 1000px;
  left: calc(50% - 500px);
  transition: 0.15s ease-out;
  transform: translateY(-20vh);
  z-index: 32;
  pointer-events: none;
  user-select: none;
  will-change: transform;
}

@media screen and (max-width: 1199px){
  #water-logo{
    z-index: 20;
  }
}

@media screen and (max-width: 991px){
  .tile {
    width: 100% !important;
  }
  .tile:after {
    padding-bottom: 15%;
  }
  .tile.order:after {
    padding-bottom: 25%;
  }
  .tile .text{
    top: calc(50% - 13px);
    font-size: 20px;
  }
  .tile:hover .text{
    font-size: 22px;
  }
  .tile br{
    display: none;
  }
  #water-logo{
    width: 100%;
  }

}










