
/* Navigation */

#nav {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  z-index: 9970;
}

@media screen and (max-width: 1200px){
  #nav{
    display: none;
  }
}

#nav-symbol {
  opacity: 1;
  position: absolute;
  top: 20px;
  text-align: center;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 100%;
  z-index: 20;
}

#nav-symbol p {
  text-align: center;
}


#nav-home:hover {
  background-position: center -50px;
}

#nav-home p, #nav-home a {
  display: inline-block;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#nav-impressum {
  bottom: 10px;
  height: 20px;
  margin: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  width: 100%;
  z-index: 20;
}

#nav-impressum a {
  bottom: 15px;
  color: #777;
  display: inline-block;
  font-size: 10px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 100%;
}

#nav-impressum a:hover {
  color: #fff;
}

#nav-inner {
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  right: 80px;
  position: absolute;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 100%;
  z-index: 10;
}

#nav-dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 20;
}

#nav-dots ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 20px;
}

#nav-dots li {
  clear: both;
  display: inline-block;
  height: 20px;
  margin: 10px auto 30px auto;
  padding: 15px 0;
  position: relative;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  -webkit-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 20px;
}

#nav-dots li p {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#nav-real {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 20;
}

#nav-real ul {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  text-align: center;
  -webkit-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -ms-transform: scale(0.25);
  -o-transform: scale(0.25);
  transform: scale(0.25);
  -webkit-transition: all 0.35s ease-in-out 0s;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}

#nav-real ul li {
  background: transparent url("../images/werbeagentur.png") no-repeat;
  height: 55px;
  opacity: 0.7;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out 0s;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
  width: 100%;
}

#nav-real #ni1 {background-position: center 0px;}
#nav-real #ni2 {background-position: center -100px;}
#nav-real #ni3 {background-position: center -200px;}
#nav-real #ni4 {background-position: center -300px;}
#nav-real #ni5 {background-position: center -400px;}
#nav-real #ni6 {background-position: center -500px;}
#nav-real #ni7 {background-position: center -600px;}
#nav-real #ni8 {background-position: center -700px;}

#nav-real li a {
  color: #fff;
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 16px;
  padding: 30px 0 10px 0;
  text-decoration: none;
  -webkit-transition: all 0.35s ease-in-out 0s;
  -moz-transition: all 0.35s ease-in-out 0s;
  -ms-transition: all 0.35s ease-in-out 0s;
  -o-transition: all 0.35s ease-in-out 0s;
  transition: all 0.35s ease-in-out 0s;
}

#nav-real ul:hover li {
  opacity: 0.4;
}

#nav-real ul li:hover {
  opacity: 1;
}



/* Hover */

#nav:hover #nav-symbol {
  opacity: 0;
}

#nav:hover #nav-home {
  opacity: 1;
}

#nav:hover #nav-impressum {
  opacity: 1;
}

#nav:hover #nav-inner {
  right: 0;
}

#nav:hover #nav-dots li {
  padding: 0;
}

#nav:hover #nav-dots ul {
  opacity: 0;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

#nav:hover #nav-real ul {
  opacity: 1;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}


/* NavLaunch */

#nav-symbol, #nav-dots ul {
  display: none;
}


.navlaunch #nav-symbol {
  opacity: 0;
}

.navlaunch #nav-home {
  display: none;
}

.navlaunch #nav-impressum {
  opacity: 1;
}

.navlaunch #nav-inner {
  right: 0;
}

.navlaunch #nav-dots ul {
  opacity: 0;
}

.navlaunch #nav-real ul {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.dots-anime.active{
  transform: scale(1.5) !important;
  transition: 0.5s ease;
}

.dots-anime{
  transform: scale(1);
  transition: 0.5s ease;
}