{% extends "base.html" %}
{% load static %}
{% block body_class %}dashboard{% endblock %}
{% block content %}
    <img id="water-logo" src="{% static '/images/Yanga_Water/Yanga Water 3 comp.png' %}" />
    <img class="img-responsive dash-header" src="{% static '/images/Yanga_Logo/Yanga Master Logo-01.png' %}" />
    <div class="container">
        <div class="dashboard">
            <div class="dash-wrapper">
                <div class="tile order" style="background-image:url('https://images.unsplash.com/photo-1521020730356-8dfed7044451?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9894328c69938e8fab922dfc587d505f&auto=format&fit=crop&w=1623&q=80');">
                    <div class="text">Order BiB's</div>
                </div>

                <div class="tile" style="background-image:url('https://images.unsplash.com/photo-1471079688237-3ac9a55f1d6f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d41d60bc1a2a42fdf93f3a35cb256fe&auto=format&fit=crop&w=1567&q=80');">
                    <div class="text">How Yanga sports water works</div>
                </div>

                <div class="tile" style="background-image:url('https://images.unsplash.com/photo-1493946740644-2d8a1f1a6aff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=488a4ba9014132269a54faab75b6de49&auto=format&fit=crop&w=1968&q=80');">
                    <div class="text">How to sell</div>
                </div>

                <div class="tile" style="background-image:url('{% static 'images/Yanga_people/Girls_Ball_Coach_modif comp.jpg' %}');">
                    <div class="text">Support: campaigns <br /> & templates</div>
                </div>


                <div class="tile" style="background-image:url('https://images.unsplash.com/photo-1476480862126-209bfaa8edc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=41900ca14b1acd536efbaf79f09e2632&auto=format&fit=crop&w=1650&q=80');">
                    <div class="text">Our community</div>
                </div>

                <div class="tile" style="background-image:url('https://images.unsplash.com/photo-1493059530036-6daa3ff094e4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a2e965ee9e61cdae977e8e766f182892&auto=format&fit=crop&w=2090&q=80');">
                    <div class="text">Contact</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}