{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="fullpage">
    <section class="section firstvisit" style="color: #FFF;" id="section-1" data-anchor="section1">
        <div class="fp-bg" style="background-image: url('{% static 'images/Yanga_People/Woman_Yoga_modif comp.jpg' %}');"></div>
        <div class="logo-header">
            <img src="{% static '/images/Yanga_Logo/Yanga Master Logo-01.png' %}" />
        </div>

        <div class="dropdown">
          <a  type="button" data-toggle="dropdown">talen</a>
          <ul class="dropdown-menu">
            <li><a href="#">ENG</a></li>
            <li><a href="#">NL</li>
            <li><a href="#">ESP</a></li>
          </ul>
        </div>

        <div class="members-only">
            <span>members only</span>
        </div>

        <div class="quote-bottom-right">
            liquid health
        </div>
    </section>
    <section class="section firstvisit" id="section-2" style="background-image: url('{% static 'images/Yanga_Water/Yanga Water 2 comp.jpg' %}');">
        <img id="fruit1" src="{% static '/images/Yanga_Fruit/rasberry.png' %}" />
        <img id="fruit2" src="{% static '/images/Yanga_Fruit/Yanga Fruit - Blackcurrants_2 comp.png' %}" />
        <img id="fruit3" src="{% static '/images/Yanga_Fruit/Yanga Fruit - Blackcurrants_1 comp.png' %}" />
        <img id="fruit4" src="{% static '/images/Yanga_Fruit/Yanga Fruit - Blackcurrants_3 comp.png' %}" />
        <img id="fruit5" src="{% static '/images/Yanga_Fruit/rasberry2.png' %}" />
        <img id="fruit6" src="{% static '/images/Yanga_Fruit/strawberry.png' %}" />
        <img id="fruit7" src="{% static '/images/Yanga_Fruit/braam.png' %}" />
        <img id="fruit8" src="{% static '/images/Yanga_Fruit/fruitding.png' %}" />
        <img id="water" src="{% static '/images/Yanga_Water/Yanga Water comp.png' %}" />
        <div class="top-box responsive-box">
            <div class="list-wrapper">
                <h2>Revitalizing water</h2>
                <ul>
                    <li>herstel vochtbalans</li>
                    <li>no callories, colours, sugar</li>
                    <li>snelle opname in het lichaam</li>
                    <li>gewoon lekker</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section firstvisit" id="section-3">
        <div class="fp-bg"  style="background-image: url('{% static 'images/Yanga_people/Girls_Ball_Coach_modif comp.jpg' %}');"></div>
        <div class="top-box white-circle">
            <div class="list-wrapper">
                <h2>Cherish your body</h2>
                <ul>
                    <li><span>Sinaasappel</span></li>
                    <li><span>Passie vrucht</span></li>
                    <li><span>Multivrucht</span></li>
                    <li><span>Zwarte bes</span></li>
                    <li><span>Kokos ananas</span></li>
                    <li><span>Cactus</span></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section firstvisit" id="section-4">
        <div class="fp-bg"  style="background-image: url('{% static 'images/Yanga_Pattern/Yanga Master Patterns - Blue comp.jpg' %}');"></div>
        <img id="annanas_slice" src="{% static 'images/Yanga_Fruit/Yanga Fruit - Pineapple Slice comp.png' %}" />
        <img id="annanas" src="{% static 'images/Yanga_Fruit/Yanga Fruit - Pineapple comp.png' %}" />
        <img id="logo_section_4" src="{% static 'images/Yanga_Logo/Yanga Master Logo White comp.png' %}" />

        <div class="content-hide">
            <div class="content-right">
                <h2 class="margin-bottom header-animate">Balance inside</h2>
                <div class="link-list">
                    <ul>
                        <li><div><a href="">People over Europe</a></div></li>
                        <li><div><a href="">Mayor fitness schools</a></div></li>
                        <li><div><a href="">Follow us</a></div></li>
                        <li><div><a href="">Contact</a></div></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="nav">
    <div id="nav-hotspot1" class="nav-hotspot"></div>
    <div id="nav-hotspot2" class="nav-hotspot"></div>
    <div id="nav-inner"></div>
    <div id="nav-home" style=""><p><a href="#" class="toplink">&nbsp;</a></p></div>
    <div id="nav-dots">
        <ul style="display: block;">
            <li><p><img src="{% static '/images/dot.png' %}" class="dots-anime" id="dot-1" width="20" height="20"></p></li>
            <li><p><img src="{% static '/images/dot.png' %}" class="dots-anime" id="dot-2" width="20" height="20"></p></li>
            <li><p><img src="{% static '/images/dot.png' %}" class="dots-anime" id="dot-3" width="20" height="20"></p></li>
            <li><p><img src="{% static '/images/dot.png' %}" class="dots-anime" id="dot-4" width="20" height="20"></p></li>
            <li><p><img src="{% static '/images/dot.png' %}" class="dots-anime" id="dot-5" width="20" height="20"></p></li>
        </ul>
    </div>
    <div id="nav-real">
        <ul>
            <li id=""><a href="#section1" class="nav-item">1</a></li>
            <li id=""><a href="#section2" class="nav-item">2</a></li>
            <li id=""><a href="#section3" class="nav-item">3</a></li>
            <li id=""><a href="#section4" class="nav-item">4</a></li>
        </ul>
    </div>
    <div id="nav-impressum"><p><a href="#section5" class="nav-item" >eSwingo</a></p></div>
</div>
{% endblock %}