{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="container-fluid text-center" style="background-color: #efefef; padding-bottom: 25px;">
    <i class="fa fa-frown-o mega-icon"></i>
    <span class="error-404">404</span>
    <h1 class="gray-text">Pagina niet gevonden</h1>
    <h2 class="gray-text">Sorry, de pagina kon niet worden gevonden.</h2>
    <a href="/" class="leesmeer">Terug naar de homepagina</a>
</div>
{% endblock %}
