{% load static wagtailuserbar %}
{% load wagtailmetadata_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="language" content="{{ LANGUAGE_CODE|default:"NL" }}">
        {% if self %}
            {% meta_tags %}
        {% endif %}
        <meta name="author" content="{{ self.get_site.site_name|default:"" }}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico" sizes="16x16">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">


        {% with settings.pages.SiteSettings as settings %}
            {% if settings.geo_placename %}<meta name="geo.placename" content="{{ settings.geo_placename }}" />{% endif %}
            {% if settings.geo_position %}<meta name="geo.position" content="{{ settings.geo_position }}" />{% endif %}
            {% if settings.geo_region %}<meta name="geo.region" content="{{ settings.geo_region }}" />{% endif %}
            {% if settings.geo_position %}<meta name="ICBM" content="{{ settings.get_icbm }}" />{% endif %}
            {% if settings.google_site_verification %}<meta name="google-site-verification" content="{{ settings.google_site_verification }}" />{% endif %}
            {% if settings.alexa_verify_id %}<meta name="alexaVerifyID" content="{{ settings.alexa_verify_id }}" />{% endif %}
        {% endwith %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>


        {# Global stylesheets #}
        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'css/owl.carousel.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'css/navigation.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'css/owl.theme.default.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

        <link href="{% static 'css/jquery.fullpage.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'css/custom.css' %}" type="text/css" rel="stylesheet" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% include "partials/google_analytics.html" %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <div class="page-wrapper">
        {% wagtailuserbar %}

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message|safe }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% include "partials/header.html" %}

        <div class="overlay">
            <div id="loadfix">
                <div class="loader">
                    <div class="white">
                      <div class="grey"></div>
                    </div>
                    <div class="text">loading the experience</div>
                </div>
            </div>
        </div>
        <div class="login-hide d-none">
          <div class="login-wrapper">
            <div class="right">
              <svg viewBox="0 0 320 300">
                <defs>
                  <linearGradient
                                  inkscape:collect="always"
                                  id="linearGradient"
                                  x1="13"
                                  y1="193.49992"
                                  x2="307"
                                  y2="193.49992"
                                  gradientUnits="userSpaceOnUse">
                    <stop
                          style="stop-color:#612565;"
                          offset="0"
                          id="stop876" />
                    <stop
                          style="stop-color:#AB55AF;"
                          offset="1"
                          id="stop878" />
                  </linearGradient>
                </defs>
                <path d="m 40,115.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
              </svg>
              <div class="form">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="johndoe@mail.com">
                <label for="password">Wachtwoord</label>
                <input type="password" id="password" placeholder=".........">
                <input type="submit" id="submit" onclick="window.location='/dashboard';" value="Log in">
              </div>
            </div>
          </div>
        </div>
        <div class="overlay-login"></div>
        {% block content %}

        {% endblock %}

        {% include "partials/footer.html" %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fullpage.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fullpage.extensions.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/fullpage.parallax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/anime.min.js' %}"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        </div>
    </body>
</html>
