{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <h1>Zoekresultaten</h1>
        {% if search_results %}
            Resultaten voor: "{{ search_query }}":
            <div class="list-group">
                {% for result in search_results %}
                    <a class="list-group-item" href="{% pageurl result %}">{{ result }}
                        {% if result.search_description %}
                            <span class="pull-right">{{ result.search_description }}</span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>

            {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
            {% endif %}

            {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
            {% endif %}
        {% elif search_query %}
            <p class="text-center"><strong>Het spijt ons.</strong> Er zijn geen resultaten gevonden voor "<strong>{{ search_query }}</strong>" <br><i class="fa fa-frown-o" style="font-size: 420px; color: pink;"></i></p>
        {% endif %}
    </div>
</div>
{% endblock %}
